:global(body:has(#distance-measurer-extension-root-dev)):has(.moreInfoModalContent),
:global(body:has(#distance-measurer-extension-root)):has(.moreInfoModalContent) {
  overflow: hidden !important;
}

.distance-measurer-extension_hovered {
  transition: 0.1s;
  outline: 1px dashed rgb(126, 126, 126) !important;
}

.distance-measurer-extension_selected {
  transition: 0.2s;
  outline: 1px solid rgb(126, 126, 126) !important;
  background: rgba(128, 128, 128, 0.158) !important;
}

:global(#distance-measurer-extension-root-dev),
:global(#distance-measurer-extension-root) {
  --distance-measure-extension__color: rgb(126, 126, 126);

  all: initial !important;

  *:hover {
    cursor: default;
  }

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  .metricsContainer {
    position: relative;
    z-index: 2147483647;
  }

  .frameBorder {
    position: fixed;
    /* background-color: repeating-linear-gradient(var(--distance-measure-extension__color) 3px, red 3px); */
    box-sizing: border-box;

    &.frameVerticalBorder {
      width: 1px;
      top: 0;
      bottom: 0;
      background-image: repeating-linear-gradient(
        to bottom,
        var(--distance-measure-extension__color),
        var(--distance-measure-extension__color) 5px,
        transparent 5px,
        transparent 10px
      );
    }

    &.frameHorizontalBorder {
      background-image: repeating-linear-gradient(
        to right,
        var(--distance-measure-extension__color),
        var(--distance-measure-extension__color) 5px,
        transparent 5px,
        transparent 10px
      );
      height: 1px;
      left: 0;
      right: 0;
    }
  }

  .metricContainer {
    position: fixed;

    &.metricVertical {
      .metricValue {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + 4px));
      }
    }

    &.metricHorizontal {
      .metricValue {
        right: 0;
        transform: translate(calc(100% + 4px), -50%);
      }
    }

    .metricValue {
      border-radius: 2px;
    }

    .metricLine {
      background-color: var(--distance-measure-extension__color);
    }

    .metricValue {
      margin: 0;
      background-color: var(--distance-measure-extension__color);
      color: #fff;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      padding: 4px 8px;
      width: fit-content;
      position: absolute;
      z-index: 1;
    }
  }

  .moreInfoModalContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: var(--distance-measure-extension__color);

    .moreInfoTriggerBtn {
      position: absolute;
      background-color: var(--distance-measure-extension__color);
      color: white;
      border-radius: 100%;
      font-size: 26px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      padding: 0;

      transform: translate(-50%, -50%);

      &:hover {
        opacity: 0.9;
      }
    }

    .moreInfoModalContentContainer {
      position: absolute;
      width: 100vw;
      height: 100vh;

      .moreInfoModalOverlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.205);
      }

      .moreInfoModalContent {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: var(--distance-measure-extension__color);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 90vw;
        max-height: 90vh;
        overflow-y: auto;

        .closeMoreInfoModalBtn {
          position: absolute;
          top: 20px;
          right: 20px;
          color: var(--distance-measure-extension__color);
          background-color: transparent;
          font-size: 30px;
          font-weight: 100;
          border: none;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            opacity: 0.8;
          }
        }

        .moreInfoModalContentDimensionsContainer {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;

          .moreInfoModalContentDimensionsTypeContainer {
            flex-grow: 1;
            min-width: 300px;

            .moreInfoList {
              display: flex;
              flex-direction: column;
              gap: 20px;
              padding-left: 0;

              &.moreInfoListHorizontal img {
                transform: rotate(90deg);
              }

              .moreInfoListItem {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-transform: capitalize;

                .moreInfoListItemContent {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  & > img {
                    max-width: 80px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .chevron {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    margin: 20px;
  }

  /* === UP (uses ::before) === */
  .chevron-up::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--distance-measure-extension__color);
    border-left: 2px solid var(--distance-measure-extension__color);
    transform: translate(-50%, 22%) rotate(45deg);
  }

  /* === DOWN (uses ::after) === */
  .chevron-down::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid var(--distance-measure-extension__color);
    border-right: 2px solid var(--distance-measure-extension__color);
    transform: translate(-50%, 0%) rotate(45deg);
  }

  /* === LEFT (uses ::before) === */
  .chevron-left::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--distance-measure-extension__color);
    border-right: 2px solid var(--distance-measure-extension__color);
    transform: translate(0%, -50%) rotate(-135deg);
  }

  /* === RIGHT (uses ::after) === */
  .chevron-right::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--distance-measure-extension__color);
    border-right: 2px solid var(--distance-measure-extension__color);
    transform: translate(0, -50%) rotate(45deg);
  }
}
